{
  "*.{ts,tsx}": [
    "prettier --no-error-on-unmatched-pattern --cache --parser=typescript --write",
    "eslint --fix"
  ],
  "**/**/**/*.{ts,tsx}": [
    "prettier --no-error-on-unmatched-pattern --cache --parser=typescript --write",
    "eslint --fix"
  ]
}